flow_hidrometro.json
[{"id":"532705fe.671cb4","type":"tab","label":"Flow_do_Hidrometro","disabled":false,"info":""},{"id":"18fae8a2.1a4dc7","type":"change","z":"532705fe.671cb4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["d90a527e.83d7f"]]},{"id":"d90a527e.83d7f","type":"function","z":"532705fe.671cb4","name":"leitura do topic","func":"var msg = {topic:msg.topic}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":140,"wires":[["f7b8be71.adf39"]]},{"id":"f7b8be71.adf39","type":"function","z":"532705fe.671cb4","name":"INSERT","func":"var volume = {topic:msg.topic};\nvar d = new Date();\nvar options = { timeZone: 'UTC', month: '2-digit'};\nvar _resultDate = d.toLocaleDateString('de-CH', options);\n\n\nif (_resultDate==05){\nmsg.topic = \"INSERT INTO Maio (volume) VALUES (\"+msg.topic+\");\"\nreturn msg; \n\n} else if (_resultDate==06){\n    msg.topic = \"INSERT INTO Junho (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (_resultDate==07){\n    msg.topic = \"INSERT INTO Julho (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (_resultDate==08){\n    msg.topic = \"INSERT INTO Agosto (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (_resultDate==09){\n    msg.topic = \"INSERT INTO Setembro (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (_resultDate==10){\n    msg.topic = \"INSERT INTO Outubro (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (_resultDate==11){\n    msg.topic = \"INSERT INTO Novembro (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (_resultDate==12){\n    msg.topic = \"INSERT INTO Dezembro (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (_resultDate==01){\n    msg.topic = \"INSERT INTO Janeiro (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (_resultDate==02){\n    msg.topic = \"INSERT INTO Fevereiro (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (_resultDate==03){\n    msg.topic = \"INSERT INTO Marco (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}\nelse if (_resultDate==04){\n    msg.topic = \"INSERT INTO Abril (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":220,"wires":[["4d62cc2b.805654","a194ffb0.aaafb"]]},{"id":"4d62cc2b.805654","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":490,"y":220,"wires":[[]]},{"id":"a194ffb0.aaafb","type":"debug","z":"532705fe.671cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":280,"wires":[]},{"id":"41b42dc1.281984","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Junho ORDER BY item_id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":320,"wires":[["261cdfca.40325"]]},{"id":"261cdfca.40325","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":470,"y":340,"wires":[["673caf4c.5c85d"]]},{"id":"673caf4c.5c85d","type":"function","z":"532705fe.671cb4","name":"","func":"var Junho = {Junho:msg.payload[0].volume}\n\nreturn Junho;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":340,"wires":[["edef6560.b57ab8"]]},{"id":"bdc9611d.4b4e4","type":"template","z":"532705fe.671cb4","name":"teste","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<link rel=\"icon\" type=\"image/png\" href=\"https://ctd.ifsp.edu.br/templates/padraogoverno01/favicon.ico\">\n\n\t<title>\n  Hidrometro</title>\n\t\t<meta name=\"viewport\" content=\"width=320\">\n<meta name=\"viewport\" content=\"width=device-width\">\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n<meta http-equiv='refresh' content='30'>\n<style type=\"text/css\">\n/** Titulo **/\nbody {\n  margin: 0;\n  font-family: Segoe, \"Segoe UI\", \"DejaVu Sans\", \"Trebuchet MS\", Verdana, sans-serif;\n}\n\nh1 {\n  font: 200 1.5em \"Segoe UI Light\", \"DejaVu Sans\", \"Trebuchet MS\", Verdana, sans-serif;\n  font-weight: 200;\n  color: white;\n  background: #088A29;\n  padding: 10px;\n  margin: 0;\n  \n  strong {\n    font-family: \"Segoe UI Black\";\n    font-weight: normal;\n  }\n}\nh2 {\n\tfont: 200 0.9em \"Segoe UI Light\", \"DejaVu Sans\", \"Trebuchet MS\", Verdana, sans-serif;\n  font-weight: 200;\n  color: white;\n  background: #088A29;\n  padding: 10px;\n  margin: 0;\n  border-bottom: 13px solid #0B6121;\n  strong {\n    font-family: \"Segoe UI Black\";\n    font-weight: normal;\n  }\n}\nh3 {\n  font: 200 2em Verdana;\n}\n\n.explanation {\n  padding: 20px;\n  max-width: 600px;\n  p {\n    max-width: 300px;\n    color: #fff;\n    font-size: 0.8rem;\n  }\n}\n/* Botoes */\n\n\n\n</style>\n\n</head>\n<body>\n   \n    \n\n<h1><img src=\"https://ctd.ifsp.edu.br/images/IFSP-CTD2.png\" alt=\"Instituto Federal de São Paulo\">Hidrometro IFSP - Campus Catanduva</h1>\n<h2>Autor: Luiz Carlos Ammirante Junior</h2>\n<section class=\"explanation\">\n    <script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<script src=\"https://code.highcharts.com/modules/export-data.js\"></script>\n<script src=\"https://code.highcharts.com/modules/accessibility.js\"></script>\n\n<figure class=\"highcharts-figure\">\n  <div id=\"container\"></div>\n  <p class=\"highcharts-description\">\n   \n  </p>\n</figure><script>Highcharts.chart('container', {\n  chart: {\n    type: 'column'\n  },\n  title: {\n    text: 'Medição Hidrica'\n  },\n  subtitle: {\n    text: 'por Hora'\n  },\n  xAxis: {\n    categories: [\n      '00:00',\n      '01:00', \n      '02:00',\n      '03:00',\n      '04:00',\n      '05:00',\n      '06:00',\n      '07:00',\n      '08:00',\n      '09:00',\n      '10:00',\n      '11:00',\n      '12:00',\n      '13:00',\n      '14:00',\n      '15:00',\n      '16:00',\n      '17:00',\n      '18:00',\n      '19:00',\n      '20:00',\n      '21:00',\n      '22:00',\n      '23:00'\n    ],\n    crosshair: true\n  },\n  yAxis: {\n    min: 0,\n    title: {\n      text: 'Volume (m³)'\n    }\n  },\n  tooltip: {\n    headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n    pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n      '<td style=\"padding:0\"><b>{point.y:.1f} m³</b></td></tr>',\n    footerFormat: '</table>',\n    shared: true,\n    useHTML: true\n  },\n  plotOptions: {\n    column: {\n      pointPadding: 0.2,\n      borderWidth: 0\n    }\n  },\n  series: [{\n      name: 'Volume em metros cubicos (m³)',\n    data: [{{Zero}},{{Um}}, {{Dois}}, {{Tres}},{{Quatro}},{{Cinco}},{{Seis}},{{Sete}},{{Oito}},{{Nove}},{{Dez}},{{Onze}},{{Doze}},{{Treze}},{{Quatorze}}, {{Quinze}},{{Dezeseis}},{{Dezesete}}, {{Dezoito}}, {{Dezenove}}, {{Vinte}},{{Vinte1}}, {{Vinte2}}, {{Vinte3}}]\n\n   \n  }]\n});\n</script>\t \n<script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n  <script type=\"text/javascript\">\n  function changeBackground(color) {\n   document.body.style.background = color;\n}\n\nvar Junho = {{Junho}};\nvar Maio = {{Maio}};\nvar Janeiro = {{Janeiro}};\nvar Fevereiro = {{Fevereiro}};\nvar Marco = {{Marco}};\nvar Abril = {{Abril}};\nvar Julho = {{Julho}};\nvar Agosto = {{Agosto}};\nvar Setembro = {{Setembro}};\nvar Outubro = {{Outubro}};\nvar Dezembro = {{Dezembro}};\nvar Novembro = {{Novembro}};\n\n\nwindow.addEventListener(\"load\",function() { changeBackground('#D8D8D8') });\n    google.charts.load(\"current\", {packages:['corechart']});\n    google.charts.setOnLoadCallback(drawChart);\n    function drawChart() {\n      var data = google.visualization.arrayToDataTable([\n        [\"Element\", \"m³\", { role: \"style\" } ],\n       [\"Janeiro\",Janeiro, \"color: #58ACFA\"],\n        [\"Fevereiro\", Fevereiro, \"color: #58ACFA\"],\n        [\"Março\", Marco, \"color: #58ACFA\"],\n        [\"Abril\", Abril, \"color: #58ACFA\"],\n        [\"Maio\",Maio,\"color: #58ACFA\"],\n       [\"Junho\",Junho,\"color: #58ACFA\"],\n        [\"Julho\",Julho,\"color: #58ACFA\"],\n       [\"Agosto\",Agosto,\"color: #58ACFA\"],\n        [\"Setembro\",Setembro,\"color: #58ACFA\"],\n        [\"Outubro\",Outubro,\"color: #58ACFA\"],\n        [\"Novembro\",Novembro,\"color: #58ACFA\"],\n        [\"Dezembro\",Dezembro,\"color: #58ACFA\"]\n      ]);\n\n      var view = new google.visualization.DataView(data);\n      view.setColumns([0, 1,\n                       { calc: \"stringify\",\n                         sourceColumn: 1,\n                         type: \"string\",\n                         role: \"annotation\"},\n                       2]);\n\n      var options = {\n        title: \"Medição Mensal de gastos  hidricos do Campus Catanduva, por m³\",\n        width: 1300,\n        height: 400,\n        bar: {groupWidth: \"95%\"},\n        legend: { position: \"none\" },\n      };\n      var chart = new google.visualization.ColumnChart(document.getElementById(\"columnchart_values\"));\n      chart.draw(view, options);\n  }\n </script> \n<br />\n<div id=\"columnchart_values\" style=\"width: 900px; height: 300px;\"></div>\n  <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n\nvar Segunda = {{Segunda}};\nvar Terca = {{Terca}};\nvar Quarta = {{Quarta}};\nvar Quinta = {{Quinta}};\nvar Sexta = {{Sexta}};\nvar Sabado = {{Sabado}};\nvar Domingo = {{Domingo}};\n\n\n google.charts.load('current', {'packages':['bar']});\n      google.charts.setOnLoadCallback(drawChart);\n\n      function drawChart() {\n        var data = google.visualization.arrayToDataTable([\n          ['Dias da Semana', 'Volume m³'],\n           [\"Segunda\",Segunda],\n        [\"Terça\", Terca],\n        [\"Quarta\", Quarta],\n        [\"Quinta\", Quinta],\n        [\"Sexta\",Sexta],\n       [\"Sabado\",Sabado],\n        [\"Domingo\",Domingo]\n      \n      ]);\n\n        var options = {\n          chart: {\n            title: \"Medição Semanal de gastos  hidricos do Campus Catanduva, por m³\",\n        width: 1300,\n        height: 400,\n        bar: {groupWidth: \"95%\"},\n          }\n        };\n\n        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));\n\n        chart.draw(data, google.charts.Bar.convertOptions(options));\n      }\n  </script>\n  <br /><br /><br /><br /><br /><br /><center>\n  <div id=\"columnchart_material\" style=\"width: 900px; height: 300px;\"></div>\n  \n</center>\n\n\n</body>\n</html>","x":2010,"y":320,"wires":[["22ebd579.aa2d8a"]]},{"id":"a30732fa.40eff","type":"http in","z":"532705fe.671cb4","name":"","url":"/hidrometro","method":"get","upload":false,"swaggerDoc":"","x":1180,"y":300,"wires":[["c2933ae1.812ff8"]]},{"id":"22ebd579.aa2d8a","type":"http response","z":"532705fe.671cb4","name":"/hidrometro","statusCode":"","headers":{},"x":1950,"y":500,"wires":[]},{"id":"edef6560.b57ab8","type":"change","z":"532705fe.671cb4","name":"Junho","rules":[{"t":"set","p":"timestamp6","pt":"flow","to":"Junho","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":340,"wires":[[]]},{"id":"c2933ae1.812ff8","type":"change","z":"532705fe.671cb4","name":"Copy time2","rules":[{"t":"set","p":"Junho","pt":"msg","to":"timestamp6","tot":"flow"},{"t":"set","p":"Maio","pt":"msg","to":"timestamp5","tot":"flow"},{"t":"set","p":"Janeiro","pt":"msg","to":"timestamp1","tot":"flow"},{"t":"set","p":"Fevereiro","pt":"msg","to":"timestamp2","tot":"flow"},{"t":"set","p":"Marco","pt":"msg","to":"timestamp3","tot":"flow"},{"t":"set","p":"Abril","pt":"msg","to":"timestamp4","tot":"flow"},{"t":"set","p":"Julho","pt":"msg","to":"timestamp7","tot":"flow"},{"t":"set","p":"Agosto","pt":"msg","to":"timestamp8","tot":"flow"},{"t":"set","p":"Setembro","pt":"msg","to":"timestamp9","tot":"flow"},{"t":"set","p":"Outubro","pt":"msg","to":"timestamp10","tot":"flow"},{"t":"set","p":"Novembro","pt":"msg","to":"timestamp11","tot":"flow"},{"t":"set","p":"Dezembro","pt":"msg","to":"timestamp12","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":300,"wires":[["dd232472.529158"]]},{"id":"56b31f0c.c1dcf","type":"change","z":"532705fe.671cb4","name":"Janeiro","rules":[{"t":"set","p":"timestamp1","pt":"flow","to":"Janeiro","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":420,"wires":[[]]},{"id":"cb79ec5e.9a35b","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Janeiro ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":420,"wires":[["4c4c901e.43a9"]]},{"id":"4c4c901e.43a9","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":350,"y":420,"wires":[["a3beb249.735c5"]]},{"id":"a3beb249.735c5","type":"function","z":"532705fe.671cb4","name":"","func":"var Janeiro = {Janeiro:msg.payload[0].volume}\n\nreturn Janeiro;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":420,"wires":[["56b31f0c.c1dcf"]]},{"id":"dd4cf964.0cf1a8","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Fevereiro ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":269,"y":508,"wires":[["c25eb03e.486f1"]]},{"id":"c25eb03e.486f1","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":449,"y":508,"wires":[["3dd95046.5853f"]]},{"id":"3dd95046.5853f","type":"function","z":"532705fe.671cb4","name":"","func":"var Fevereiro = {Fevereiro:msg.payload[0].volume}\n\nreturn Fevereiro;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":609,"y":508,"wires":[["2dfe993b.f06816"]]},{"id":"2eba48c9.cd6868","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Marco ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":580,"wires":[["3960504.8499fb"]]},{"id":"3960504.8499fb","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":420,"y":580,"wires":[["c9f9c5c9.e14358"]]},{"id":"c9f9c5c9.e14358","type":"function","z":"532705fe.671cb4","name":"","func":"var Marco = {Marco:msg.payload[0].volume}\n\nreturn Marco;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":580,"wires":[["e249c14c.84133"]]},{"id":"35db408.2ed57c","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Abril ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":640,"wires":[["199197a8.c8cb88"]]},{"id":"199197a8.c8cb88","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":420,"y":640,"wires":[["93e35b12.cb0848"]]},{"id":"93e35b12.cb0848","type":"function","z":"532705fe.671cb4","name":"","func":"var Abril = {Abril:msg.payload[0].volume}\n\nreturn Abril;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":640,"wires":[["cd17f87.bfaea08"]]},{"id":"2871b5ee.7d32aa","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Maio ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":720,"wires":[["6f3c1614.ac49a8"]]},{"id":"6f3c1614.ac49a8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":420,"y":720,"wires":[["f95c037c.29aa7"]]},{"id":"f95c037c.29aa7","type":"function","z":"532705fe.671cb4","name":"","func":"var Maio = {Maio:msg.payload[0].volume}\n\nreturn Maio;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":720,"wires":[["5cf3a965.79ce18"]]},{"id":"9a76792f.744628","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Julho ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":780,"wires":[["f237dba4.047168"]]},{"id":"f237dba4.047168","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":420,"y":780,"wires":[["f537833a.f6f3d"]]},{"id":"f537833a.f6f3d","type":"function","z":"532705fe.671cb4","name":"","func":"var Julho = {Julho:msg.payload[0].volume}\n\nreturn Julho;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":780,"wires":[["46b2922d.da26fc"]]},{"id":"b5429df5.fdc9a","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Agosto ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":860,"wires":[["abe06a38.f27e58"]]},{"id":"abe06a38.f27e58","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":420,"y":860,"wires":[["907ef11e.27946"]]},{"id":"907ef11e.27946","type":"function","z":"532705fe.671cb4","name":"","func":"var Agosto = {Agosto:msg.payload[0].volume}\n\nreturn Agosto;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":860,"wires":[["4df8096.0327df8"]]},{"id":"e6ec9f21.34c47","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Setembro ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":940,"wires":[["2774644f.e778bc"]]},{"id":"2774644f.e778bc","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":420,"y":940,"wires":[["2dc8d3d9.72c80c"]]},{"id":"2dc8d3d9.72c80c","type":"function","z":"532705fe.671cb4","name":"","func":"var Setembro = {Setembro:msg.payload[0].volume}\n\nreturn Setembro;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":940,"wires":[["e102e9da.87aff8"]]},{"id":"77d52c60.2215a4","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Outubro ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":1000,"wires":[["64fc20ce.8b5ac"]]},{"id":"64fc20ce.8b5ac","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":420,"y":1000,"wires":[["670718e8.f534c8"]]},{"id":"670718e8.f534c8","type":"function","z":"532705fe.671cb4","name":"","func":"var Outubro = {Outubro:msg.payload[0].volume}\n\nreturn Outubro;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1000,"wires":[["e07b3a0b.6bc7e8"]]},{"id":"ff4c3dd0.617b4","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Novembro ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":1060,"wires":[["c0ed7930.eb3798"]]},{"id":"c0ed7930.eb3798","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":420,"y":1060,"wires":[["830b0579.d1b1e8"]]},{"id":"830b0579.d1b1e8","type":"function","z":"532705fe.671cb4","name":"","func":"var Novembro = {Novembro:msg.payload[0].volume}\n\nreturn Novembro;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1060,"wires":[["c0091983.218c88"]]},{"id":"195234f6.93dc2b","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Dezembro ORDER BY id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":1140,"wires":[["959912d8.f401f"]]},{"id":"959912d8.f401f","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":400,"y":1140,"wires":[["706843f9.d5dedc"]]},{"id":"706843f9.d5dedc","type":"function","z":"532705fe.671cb4","name":"","func":"var Dezembro = {Dezembro:msg.payload[0].volume}\n\nreturn Dezembro;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1140,"wires":[["3d09e263.0b424e"]]},{"id":"2dfe993b.f06816","type":"change","z":"532705fe.671cb4","name":"Fevereiro","rules":[{"t":"set","p":"timestamp2","pt":"flow","to":"Fevereiro","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":500,"wires":[[]]},{"id":"e249c14c.84133","type":"change","z":"532705fe.671cb4","name":"Marco","rules":[{"t":"set","p":"timestamp3","pt":"flow","to":"Marco","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":580,"wires":[[]]},{"id":"cd17f87.bfaea08","type":"change","z":"532705fe.671cb4","name":"Abril","rules":[{"t":"set","p":"timestamp4","pt":"flow","to":"Abril","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":640,"wires":[[]]},{"id":"5cf3a965.79ce18","type":"change","z":"532705fe.671cb4","name":"Maio","rules":[{"t":"set","p":"timestamp5","pt":"flow","to":"Maio","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":720,"wires":[[]]},{"id":"46b2922d.da26fc","type":"change","z":"532705fe.671cb4","name":"Julho","rules":[{"t":"set","p":"timestamp7","pt":"flow","to":"Julho","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":780,"wires":[[]]},{"id":"4df8096.0327df8","type":"change","z":"532705fe.671cb4","name":"Agosto","rules":[{"t":"set","p":"timestamp8","pt":"flow","to":"Agosto","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":860,"wires":[[]]},{"id":"e102e9da.87aff8","type":"change","z":"532705fe.671cb4","name":"Setembro","rules":[{"t":"set","p":"timestamp9","pt":"flow","to":"Setembro","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":940,"wires":[[]]},{"id":"e07b3a0b.6bc7e8","type":"change","z":"532705fe.671cb4","name":"Outubro","rules":[{"t":"set","p":"timestamp10","pt":"flow","to":"Outubro","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":822,"y":1000,"wires":[[]]},{"id":"c0091983.218c88","type":"change","z":"532705fe.671cb4","name":"Novembro","rules":[{"t":"set","p":"timestamp11","pt":"flow","to":"Novembro","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1060,"wires":[[]]},{"id":"3d09e263.0b424e","type":"change","z":"532705fe.671cb4","name":"Dezembro","rules":[{"t":"set","p":"timestamp12","pt":"flow","to":"Dezembro","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1140,"wires":[[]]},{"id":"788d2f54.86475","type":"mqtt in","z":"532705fe.671cb4","name":"","topic":"hidrometro","qos":"2","datatype":"auto","broker":"a839e467.aaa5f8","nl":false,"rap":true,"rh":0,"x":1300,"y":720,"wires":[["fdd3639.038cfa"]]},{"id":"fdd3639.038cfa","type":"function","z":"532705fe.671cb4","name":"","func":"var msg = {payload:msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":720,"wires":[["db60ab58.85b288"]]},{"id":"db60ab58.85b288","type":"change","z":"532705fe.671cb4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":720,"wires":[["ae0d9cf5.b2ca5"]]},{"id":"ae0d9cf5.b2ca5","type":"function","z":"532705fe.671cb4","name":"leitura do topic","func":"var msg = {topic:msg.topic}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":720,"wires":[["101390cb.ed285f"]]},{"id":"101390cb.ed285f","type":"function","z":"532705fe.671cb4","name":"INSERT","func":"var msg = {topic:msg.topic};\n\nif (msg>'0'){\nmsg.topic = \"INSERT INTO hidrometro_hora (volume) VALUES (\"+msg.topic+\");\"\nreturn msg;\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":800,"wires":[["bd1f9a06.4672c8"]]},{"id":"bd1f9a06.4672c8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":1570,"y":800,"wires":[[]]},{"id":"e96d6288.d9107","type":"mqtt out","z":"532705fe.671cb4","name":"","topic":"hidrometro","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a839e467.aaa5f8","x":1540,"y":900,"wires":[]},{"id":"6b8a2a80.8667b4","type":"inject","z":"532705fe.671cb4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1340,"y":900,"wires":[["e96d6288.d9107"]]},{"id":"2f206d5c.5fa912","type":"debug","z":"532705fe.671cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1580,"y":860,"wires":[]},{"id":"670f2a47.e38f44","type":"inject","z":"532705fe.671cb4","name":"","props":[{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1310,"y":960,"wires":[["cfc8690f.fe4bc8"]]},{"id":"cfc8690f.fe4bc8","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"SELECT * FROM hidrometro_hora WHERE DATE(timeStamp) = CURDATE();\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":960,"wires":[["3bbd5927.b8df16"]]},{"id":"3bbd5927.b8df16","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":1690,"y":960,"wires":[["d700a247.14d01","1caabde1.11b712","27e0dcae.cff104"]]},{"id":"d700a247.14d01","type":"debug","z":"532705fe.671cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1990,"y":960,"wires":[]},{"id":"1caabde1.11b712","type":"function","z":"532705fe.671cb4","name":"","func":"var total=0;\nvar tamanho = {payload:msg.payload.length};\n\nfor ( var i = 0; i < tamanho.payload; i++ ){\n  \n    var total = (total+msg.payload[i].volume)  ;\n    }\n    var msg = {payload:total};\n    return msg;\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1120,"wires":[["b8dd9366.e2d05"]]},{"id":"edd3684d.045108","type":"debug","z":"532705fe.671cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":1180,"wires":[]},{"id":"e643282e.8ec6d8","type":"template","z":"532705fe.671cb4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<link rel=\"icon\" type=\"image/png\" href=\"https://ctd.ifsp.edu.br/images/IFSP-CTD2.png\">\n\t<title>\n  Hidrometro</title>\n\t\t<meta name=\"viewport\" content=\"width=320\">\n<meta name=\"viewport\" content=\"width=device-width\">\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n<style type=\"text/css\">\n/** Titulo **/\nbody {\n  margin: 0;\n  font-family: Segoe, \"Segoe UI\", \"DejaVu Sans\", \"Trebuchet MS\", Verdana, sans-serif;\n}\n\nh1 {\n  font: 200 1.5em \"Segoe UI Light\", \"DejaVu Sans\", \"Trebuchet MS\", Verdana, sans-serif;\n  font-weight: 200;\n  color: white;\n  background: #088A29;\n  padding: 10px;\n  margin: 0;\n  \n  strong {\n    font-family: \"Segoe UI Black\";\n    font-weight: normal;\n  }\n}\nh2 {\n\tfont: 200 0.9em \"Segoe UI Light\", \"DejaVu Sans\", \"Trebuchet MS\", Verdana, sans-serif;\n  font-weight: 200;\n  color: white;\n  background: #088A29;\n  padding: 10px;\n  margin: 0;\n  border-bottom: 13px solid #0B6121;\n  strong {\n    font-family: \"Segoe UI Black\";\n    font-weight: normal;\n  }\n}\nh3 {\n  font: 200 2em Verdana;\n}\n\n.explanation {\n  padding: 20px;\n  max-width: 600px;\n  p {\n    max-width: 300px;\n    color: #fff;\n    font-size: 0.8rem;\n  }\n}\n/* Botoes */\n\n\n\n</style>\n\n</head>\n<body>\n   \n    \n\n<h1><img src=\"https://ctd.ifsp.edu.br/images/IFSP-CTD2.png\" alt=\"Instituto Federal de São Paulo\">Hidrometro IFSP - Campus Catanduva</h1>\n<h2>Autor: Luiz Carlos Ammirante Junior</h2>\n<section class=\"explanation\">\n    \n<script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n  <script type=\"text/javascript\">\n  function changeBackground(color) {\n   document.body.style.background = color;\n}\n\nvar Junho = {{Junho}};\nvar Maio = {{Maio}};\nvar Janeiro = {{Janeiro}};\nvar Fevereiro = {{Fevereiro}};\nvar Marco = {{Marco}};\nvar Abril = {{Abril}};\nvar Julho = {{Julho}};\nvar Agosto = {{Agosto}};\nvar Setembro = {{Setembro}};\nvar Outubro = {{Outubro}};\nvar Dezembro = {{Dezembro}};\nvar Novembro = {{Novembro}};\n\n\nwindow.addEventListener(\"load\",function() { changeBackground('#D8D8D8') });\n    google.charts.load(\"current\", {packages:['corechart']});\n    google.charts.setOnLoadCallback(drawChart);\n    function drawChart() {\n      var data = google.visualization.arrayToDataTable([\n        [\"Element\", \"m³\", { role: \"style\" } ],\n       [\"1\",Janeiro, \"color: #58ACFA\"],\n        [\"2\", Fevereiro, \"color: #58ACFA\"],\n        [\"3\", Marco, \"color: #58ACFA\"],\n        [\"4\", Abril, \"color: #58ACFA\"],\n        [\"5\",Maio,\"color: #58ACFA\"],\n       [\"6\",Junho,\"color: #58ACFA\"],\n        [\"7\",Julho,\"color: #58ACFA\"],\n       [\"8\",Agosto,\"color: #58ACFA\"],\n        [\"9\",Setembro,\"color: #58ACFA\"],\n        [\"10\",Outubro,\"color: #58ACFA\"],\n        [\"11\",Novembro,\"color: #58ACFA\"],\n        [\"12\",Dezembro,\"color: #58ACFA\"]\n      ]);\n\n      var view = new google.visualization.DataView(data);\n      view.setColumns([0, 1,\n                       { calc: \"stringify\",\n                         sourceColumn: 1,\n                         type: \"string\",\n                         role: \"annotation\"},\n                       2]);\n\n      var options = {\n        title: \"Medição Mensal de gastos  hidricos do Campus Catanduva, por m³\",\n        width: 1300,\n        height: 400,\n        bar: {groupWidth: \"95%\"},\n        legend: { position: \"none\" },\n      };\n      var chart = new google.visualization.ColumnChart(document.getElementById(\"columnchart_values\"));\n      chart.draw(view, options);\n  }\n  \n  </script>\n<div id=\"columnchart_values\" style=\"width: 900px; height: 300px;\"></div>\n\t\n\t\n\t\n\n</body>\n</html>","output":"str","x":1680,"y":1240,"wires":[[]]},{"id":"b8dd9366.e2d05","type":"change","z":"532705fe.671cb4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":1100,"wires":[["b616ffd1.5ac0f"]]},{"id":"b616ffd1.5ac0f","type":"function","z":"532705fe.671cb4","name":"leitura do topic","func":"var msg = {topic:msg.topic}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1080,"wires":[["b53562fd.f5e6e"]]},{"id":"7df676e6.fc43b8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":1930,"y":1180,"wires":[[]]},{"id":"b53562fd.f5e6e","type":"function","z":"532705fe.671cb4","name":"INSERT","func":"var msg = {topic:msg.topic};\nvar r;\n\nfunction myDate() {\n        var a = new Date();\n        var days = new Array(7);\n        days[0] = \"Domingo\";\n        days[1] = \"Segunda\";\n        days[2] = \"Terça\";\n        days[3] = \"Quarta\";\n        days[4] = \"Quinta\";\n        days[5] = \"Sexta\";\n        days[6] = \"Sabado\";\n        var r = days[a.getDay()];\n        return r;\n    }\nvar b = myDate();  \nif (b==\"Segunda\"){\nmsg.topic = \"INSERT INTO Segunda (volume) VALUES (\"+msg.topic+\");\"\nreturn msg; \n\n} else if (b==\"Terça\"){\n    msg.topic = \"INSERT INTO Terca (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (b==\"Quarta\"){\n    msg.topic = \"INSERT INTO Quarta (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (b==\"Quinta\"){\n    msg.topic = \"INSERT INTO Quinta (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (b==\"Sexta\"){\n    msg.topic = \"INSERT INTO Sexta (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (b==\"Sabado\"){\n    msg.topic = \"INSERT INTO Sabado (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (b==\"Domingo\"){\n    msg.topic = \"INSERT INTO Domingo (volume) VALUES (\"+msg.topic+\");\"\n    return msg;}\n\n\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1180,"wires":[["7df676e6.fc43b8"]]},{"id":"b604dafd.d95078","type":"inject","z":"532705fe.671cb4","name":"","props":[{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":950,"y":1880,"wires":[["9ed1ab3c.215368","595ae38d.56449c","380f116.b6777ee","16e47a67.904d86","59528a8d.2265b4","ab8dc2ca.1533","20a2c25b.4d0ede"]]},{"id":"9ed1ab3c.215368","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Sexta ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1400,"wires":[["25ff0a1b.2ee016"]]},{"id":"25ff0a1b.2ee016","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":1270,"y":1400,"wires":[["383f8f06.eaa7e"]]},{"id":"383f8f06.eaa7e","type":"function","z":"532705fe.671cb4","name":"","func":"var Sexta = {Sexta:msg.payload[0].volume}\n\nreturn Sexta;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":1400,"wires":[["d860f94e.8d4588","476d9ab6.12b4e4"]]},{"id":"476d9ab6.12b4e4","type":"debug","z":"532705fe.671cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Sexta","targetType":"msg","statusVal":"","statusType":"auto","x":1730,"y":1460,"wires":[]},{"id":"d860f94e.8d4588","type":"change","z":"532705fe.671cb4","name":"Sexta","rules":[{"t":"set","p":"Sexta","pt":"flow","to":"Sexta","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":1400,"wires":[[]]},{"id":"595ae38d.56449c","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Segunda ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1520,"wires":[["ea7a48d6.95aae8"]]},{"id":"ea7a48d6.95aae8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":1270,"y":1520,"wires":[["f3311a80.309fc8"]]},{"id":"f3311a80.309fc8","type":"function","z":"532705fe.671cb4","name":"","func":"var Segunda = {Segunda:msg.payload[0].volume}\n\nreturn Segunda;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1540,"wires":[["a98dd099.92cfa"]]},{"id":"a98dd099.92cfa","type":"change","z":"532705fe.671cb4","name":"Segunda","rules":[{"t":"set","p":"Segunda","pt":"flow","to":"Segunda","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1670,"y":1520,"wires":[[]]},{"id":"380f116.b6777ee","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Terca ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":1640,"wires":[["e618da98.454348"]]},{"id":"e618da98.454348","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":1290,"y":1640,"wires":[["e1ca0e08.c2e4d"]]},{"id":"e1ca0e08.c2e4d","type":"function","z":"532705fe.671cb4","name":"","func":"var Terca = {Terca:msg.payload[0].volume}\n\nreturn Terca;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1640,"wires":[["c47dff87.99d38"]]},{"id":"c47dff87.99d38","type":"change","z":"532705fe.671cb4","name":"Terca","rules":[{"t":"set","p":"Terca","pt":"flow","to":"Terca","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":1640,"wires":[[]]},{"id":"16e47a67.904d86","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Quarta ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1760,"wires":[["d4d0780c.be58c8"]]},{"id":"d4d0780c.be58c8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":1330,"y":1760,"wires":[["959a70af.c68d6"]]},{"id":"959a70af.c68d6","type":"function","z":"532705fe.671cb4","name":"","func":"var Quarta = {Quarta:msg.payload[0].volume}\n\nreturn Quarta;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1760,"wires":[["8af52997.f30e38"]]},{"id":"8af52997.f30e38","type":"change","z":"532705fe.671cb4","name":"Quarta","rules":[{"t":"set","p":"Quarta","pt":"flow","to":"Quarta","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":1760,"wires":[[]]},{"id":"59528a8d.2265b4","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Quinta ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1900,"wires":[["872b1b8.a2841e8"]]},{"id":"872b1b8.a2841e8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":1330,"y":1900,"wires":[["216c8a7.6b9f476"]]},{"id":"216c8a7.6b9f476","type":"function","z":"532705fe.671cb4","name":"","func":"var Quinta = {Quinta:msg.payload[0].volume}\n\nreturn Quinta;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1900,"wires":[["cd7b0d8e.71684"]]},{"id":"cd7b0d8e.71684","type":"change","z":"532705fe.671cb4","name":"Quinta","rules":[{"t":"set","p":"Quinta","pt":"flow","to":"Quinta","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":1900,"wires":[[]]},{"id":"ab8dc2ca.1533","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Sabado ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":2060,"wires":[["699f501f.69b8c"]]},{"id":"699f501f.69b8c","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":1350,"y":2060,"wires":[["961ae4a8.7a13e8"]]},{"id":"961ae4a8.7a13e8","type":"function","z":"532705fe.671cb4","name":"","func":"var Sabado = {Sabado:msg.payload[0].volume}\n\nreturn Sabado;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":2060,"wires":[["9b8ef8c8.7ad838"]]},{"id":"9b8ef8c8.7ad838","type":"change","z":"532705fe.671cb4","name":"Sabado","rules":[{"t":"set","p":"Sabado","pt":"flow","to":"Sabado","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":2060,"wires":[[]]},{"id":"20a2c25b.4d0ede","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Domingo ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":2220,"wires":[["333f5710.f320d8"]]},{"id":"333f5710.f320d8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":1370,"y":2220,"wires":[["4a933cb2.d2ad34"]]},{"id":"4a933cb2.d2ad34","type":"function","z":"532705fe.671cb4","name":"","func":"var Domingo = {Domingo:msg.payload[0].volume}\n\nreturn Domingo;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":2220,"wires":[["c454f97c.2d0738"]]},{"id":"c454f97c.2d0738","type":"change","z":"532705fe.671cb4","name":"Domingo","rules":[{"t":"set","p":"Domingo","pt":"flow","to":"Domingo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":2220,"wires":[[]]},{"id":"2060755e.2f8f0a","type":"debug","z":"532705fe.671cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Segunda","targetType":"msg","statusVal":"","statusType":"auto","x":1640,"y":1580,"wires":[]},{"id":"dd232472.529158","type":"change","z":"532705fe.671cb4","name":"","rules":[{"t":"set","p":"Segunda","pt":"msg","to":"Segunda","tot":"flow"},{"t":"set","p":"Terca","pt":"msg","to":"Terca","tot":"flow"},{"t":"set","p":"Quarta","pt":"msg","to":"Quarta","tot":"flow"},{"t":"set","p":"Quinta","pt":"msg","to":"Quinta","tot":"flow"},{"t":"set","p":"Sexta","pt":"msg","to":"Sexta","tot":"flow"},{"t":"set","p":"Sabado","pt":"msg","to":"Sabado","tot":"flow"},{"t":"set","p":"Domingo","pt":"msg","to":"Domingo","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":300,"wires":[["19c7a828.6e18e8"]]},{"id":"911748d9.17b778","type":"template","z":"532705fe.671cb4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n  <script type=\"text/javascript\">\n  function changeBackground(color) {\n   document.body.style.background = color;\n}\nvar Segunda = {{Segunda}};\nvar Terca = {{Terca}};\nvar Quarta = {{Quarta}};\nvar Quinta = {{Quinta}};\nvar Sexta = {{Sexta}};\nvar Sabado = {{Sabado}};\nvar Domingo = {{Domingo}};\n\n\nwindow.addEventListener(\"load\",function() { changeBackground('#D8D8D8') });\n    google.charts.load(\"current\", {packages:['corechart']});\n    google.charts.setOnLoadCallback(drawChart);\n    function drawChart() {\n      var data = google.visualization.arrayToDataTable([\n        [\"Element\", \"m³\", { role: \"style\" } ],\n       [\"Segunda\",Segunda, \"color: #58ACFA\"],\n        [\"Terça\", Terca, \"color: #58ACFA\"],\n        [\"Quarta\", Quarta, \"color: #58ACFA\"],\n        [\"Quinta\", Quinta, \"color: #58ACFA\"],\n        [\"Sexta\",Sexta,\"color: #58ACFA\"],\n       [\"Sabado\",Sabado,\"color: #58ACFA\"],\n        [\"Domingo\",Domingo,\"color: #58ACFA\"]\n      \n      ]);\n\n      var view = new google.visualization.DataView(data);\n      view.setColumns([0, 1,\n                       { calc: \"stringify\",\n                         sourceColumn: 1,\n                         type: \"string\",\n                         role: \"annotation\"},\n                       2]);\n\n      var options = {\n        title: \"Medição Semanal de gastos  hidricos do Campus Catanduva, por m³\",\n        width: 1300,\n        height: 400,\n        bar: {groupWidth: \"95%\"},\n        legend: { position: \"none\" },\n      };\n      var chart = new google.visualization.ColumnChart(document.getElementById(\"columnchart_values\"));\n      chart.draw(view, options);\n  }\n  </script>\n  <div id=\"columnchart_values\" style=\"width: 900px; height: 300px;\"></div>","output":"str","x":1420,"y":600,"wires":[["3eb23857.8ad168"]]},{"id":"84c1bb92.672048","type":"http in","z":"532705fe.671cb4","name":"","url":"/erro","method":"get","upload":false,"swaggerDoc":"","x":1240,"y":480,"wires":[["911748d9.17b778"]]},{"id":"3eb23857.8ad168","type":"http response","z":"532705fe.671cb4","name":"/erro","statusCode":"","headers":{},"x":1590,"y":640,"wires":[]},{"id":"2d82dab2.a82626","type":"inject","z":"532705fe.671cb4","name":"","props":[{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":70,"y":840,"wires":[["b5429df5.fdc9a","e6ec9f21.34c47","77d52c60.2215a4","ff4c3dd0.617b4","195234f6.93dc2b","9a76792f.744628","2871b5ee.7d32aa","35db408.2ed57c","2eba48c9.cd6868","dd4cf964.0cf1a8","cb79ec5e.9a35b","41b42dc1.281984"]]},{"id":"2fc45037.eecde","type":"function","z":"532705fe.671cb4","name":"","func":"var total=0;\nvar tamanho = {payload:msg.payload.length};\n\nfor ( var i = 0; i < tamanho.payload; i++ ){\n  \n    var total = (total+msg.payload[i].volume)  ;\n    }\n    var msg = {payload:total};\n    return msg;\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":140,"wires":[["18fae8a2.1a4dc7"]]},{"id":"a98eef63.aef5d","type":"inject","z":"532705fe.671cb4","name":"","props":[{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":80,"y":60,"wires":[["8b1cbc1b.2163c"]]},{"id":"8b1cbc1b.2163c","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select timeStamp,volume from hidrometro_hora where MONTH(timeStamp)=6;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":60,"wires":[["b903d337.6a1e7"]]},{"id":"b903d337.6a1e7","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":470,"y":60,"wires":[["2fc45037.eecde"]]},{"id":"3bbe5e14.0691d2","type":"debug","z":"532705fe.671cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"27e0dcae.cff104","type":"change","z":"532705fe.671cb4","name":"","rules":[{"t":"set","p":"timestamp22","pt":"flow","to":"payload[0].volume","tot":"msg"},{"t":"set","p":"timestamp23","pt":"flow","to":"payload[1].volume","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":1020,"wires":[[]]},{"id":"97e79fbd.5fc26","type":"moment","z":"532705fe.671cb4","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"HH:mm","locale":"C","output":"hora","outputType":"msg","outTz":"Africa/Abidjan","x":3340,"y":100,"wires":[["f81553d3.73e84"]]},{"id":"f81553d3.73e84","type":"change","z":"532705fe.671cb4","name":"","rules":[{"t":"set","p":"time","pt":"flow","to":"hora","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3610,"y":100,"wires":[[]]},{"id":"7f9ed021.58b84","type":"inject","z":"532705fe.671cb4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":3150,"y":100,"wires":[["97e79fbd.5fc26"]]},{"id":"4dde3916.1bf788","type":"inject","z":"532705fe.671cb4","name":"","props":[{"p":"topic","v":"","vt":"date"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":3130,"y":180,"wires":[["6ae4a1ce.5272a"]]},{"id":"6ae4a1ce.5272a","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select * from hidrometro_hora WHERE timestamp BETWEEN date_add(NOW(),INTERVAL -60 MINUTE) AND NOW();\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3310,"y":180,"wires":[["d31f49e8.786618"]]},{"id":"d31f49e8.786618","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":3510,"y":180,"wires":[["4472cffb.ce835"]]},{"id":"4472cffb.ce835","type":"function","z":"532705fe.671cb4","name":"","func":"var total=0;\nvar tamanho = {payload:msg.payload.length};\n\nfor ( var i = 0; i < tamanho.payload; i++ ){\n  \n    var total = (total+msg.payload[i].volume)  ;\n    }\n    var msg = {payload:total};\n    return msg;\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3160,"y":240,"wires":[["f6a300c3.a6f7e"]]},{"id":"f6a300c3.a6f7e","type":"change","z":"532705fe.671cb4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":240,"wires":[["5eedb6f.78ab248"]]},{"id":"5eedb6f.78ab248","type":"function","z":"532705fe.671cb4","name":"leitura do topic","func":"\nvar msg = {topic:msg.topic}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3560,"y":240,"wires":[["33eebb82.124454"]]},{"id":"33eebb82.124454","type":"change","z":"532705fe.671cb4","name":"","rules":[{"t":"set","p":"hora","pt":"msg","to":"time","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3770,"y":240,"wires":[["447b40e5.b1fac"]]},{"id":"447b40e5.b1fac","type":"function","z":"532705fe.671cb4","name":"INSERT","func":"\n\n\nif (msg.hora==\"00:00\"){\n var msg = {topic:msg.topic};   \nmsg.topic = \"INSERT INTO Zero (volume) VALUES (\"+msg.topic+\");\"\nreturn msg; \n\n} else if (msg.hora==\"01:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Um (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"02:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Dois (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"03:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Tres (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"04:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Quatro (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"05:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Cinco (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"06:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Seis (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"07:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Sete (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"08:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Oito (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"09:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Nove (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"10:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Dez (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"11:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Onze (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"12:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Doze (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"13:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Treze (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"14:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Quatorze (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"15:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Quinze (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"16:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Dezeseis (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"17:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Dezesete (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"18:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Dozoito (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"19:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Dezenove (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"20:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Vinte (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"21:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Vinte1 (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"22:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Vinte2 (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}else if (msg.hora==\"23:00\"){\n    var msg = {topic:msg.topic};\n    msg.topic = \"INSERT INTO Vinte3 (volume) VALUES (\"+msg.topic+\");\"\n    return msg;\n    \n}\n\n\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3180,"y":320,"wires":[["a92725bd.bca2d8","8e0aa877.8abbe8"]]},{"id":"a92725bd.bca2d8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":3390,"y":320,"wires":[[]]},{"id":"9ae5eb8c.769268","type":"inject","z":"532705fe.671cb4","name":"","props":[{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2490,"y":940,"wires":[["82a79647.e65098","122856e8.18d069","2c7f6289.f91a3e","472bf39d.f0bbdc","dd7657fe.97d678","cfc507b2.245768","ad91883e.326168","93d05651.835fd8","64d7a918.6ae858","dda7374.9589dc8","eb65d1a6.2a69e","8f796e0d.baba4","d8952e83.ec745","a906ee40.bbd28","f6f1ce14.e025d","66390f92.f6c2f","919df8aa.e3e0d8","ea302df3.ff171","7055043e.23b1bc","5fefaec8.13b03","ddbe22bb.efd4f","634b1c01.d030f4","4553a02f.29a2a","2938447.a2dfebc"]]},{"id":"82a79647.e65098","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Zero ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2670,"y":460,"wires":[["df42b18e.223dd"]]},{"id":"df42b18e.223dd","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2840,"y":460,"wires":[["6ac4206e.d78ea"]]},{"id":"6ac4206e.d78ea","type":"function","z":"532705fe.671cb4","name":"","func":"var Zero = {Zero:msg.payload[0].volume}\n\nreturn Zero;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3010,"y":460,"wires":[["efb7b217.02d8e"]]},{"id":"8e0aa877.8abbe8","type":"debug","z":"532705fe.671cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":3400,"y":380,"wires":[]},{"id":"efb7b217.02d8e","type":"change","z":"532705fe.671cb4","name":"zero","rules":[{"t":"set","p":"Zero","pt":"flow","to":"Zero","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3230,"y":460,"wires":[[]]},{"id":"122856e8.18d069","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Um ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2670,"y":580,"wires":[["c9396a69.84a738"]]},{"id":"c9396a69.84a738","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2840,"y":580,"wires":[["6fcb3d6a.450d74"]]},{"id":"6fcb3d6a.450d74","type":"function","z":"532705fe.671cb4","name":"","func":"var Um = {Um:msg.payload[0].volume}\n\nreturn Um;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3010,"y":580,"wires":[["726a744.a21f98c"]]},{"id":"726a744.a21f98c","type":"change","z":"532705fe.671cb4","name":"Um","rules":[{"t":"set","p":"Um","pt":"flow","to":"Um","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3230,"y":580,"wires":[[]]},{"id":"2c7f6289.f91a3e","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Dois ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2690,"y":700,"wires":[["60d30897.b4dee8"]]},{"id":"60d30897.b4dee8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2860,"y":700,"wires":[["feb02d64.3a123"]]},{"id":"feb02d64.3a123","type":"function","z":"532705fe.671cb4","name":"","func":"var Dois = {Dois:msg.payload[0].volume}\n\nreturn Dois;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3030,"y":700,"wires":[["770069d3.4f05e8"]]},{"id":"770069d3.4f05e8","type":"change","z":"532705fe.671cb4","name":"Dois","rules":[{"t":"set","p":"Dois","pt":"flow","to":"Dois","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3250,"y":700,"wires":[[]]},{"id":"472bf39d.f0bbdc","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Tres ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":820,"wires":[["33bf5e07.f5f932"]]},{"id":"33bf5e07.f5f932","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2900,"y":820,"wires":[["3c9aa490.dfcbec"]]},{"id":"3c9aa490.dfcbec","type":"function","z":"532705fe.671cb4","name":"","func":"var Tres = {Tres:msg.payload[0].volume}\n\nreturn Tres;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3070,"y":820,"wires":[["1ed64424.c89c0c"]]},{"id":"1ed64424.c89c0c","type":"change","z":"532705fe.671cb4","name":"Tres","rules":[{"t":"set","p":"Tres","pt":"flow","to":"Tres","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3290,"y":820,"wires":[[]]},{"id":"dd7657fe.97d678","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Quatro ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":960,"wires":[["5d4e693e.7ee798"]]},{"id":"5d4e693e.7ee798","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2900,"y":960,"wires":[["da833cb5.9c01b"]]},{"id":"da833cb5.9c01b","type":"function","z":"532705fe.671cb4","name":"","func":"var Quatro = {Quatro:msg.payload[0].volume}\n\nreturn Quatro;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3070,"y":960,"wires":[["cdbc3e95.14955"]]},{"id":"cdbc3e95.14955","type":"change","z":"532705fe.671cb4","name":"Quatro","rules":[{"t":"set","p":"Quatro","pt":"flow","to":"Quatro","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3290,"y":960,"wires":[[]]},{"id":"cfc507b2.245768","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Cinco ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2750,"y":1120,"wires":[["5b4cf4b3.104c3c"]]},{"id":"5b4cf4b3.104c3c","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2920,"y":1120,"wires":[["1728f108.2b67af"]]},{"id":"1728f108.2b67af","type":"function","z":"532705fe.671cb4","name":"","func":"var Cinco = {Cinco:msg.payload[0].volume}\n\nreturn Cinco;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3090,"y":1120,"wires":[["a456d9d0.c19dc8"]]},{"id":"a456d9d0.c19dc8","type":"change","z":"532705fe.671cb4","name":"Cinco","rules":[{"t":"set","p":"Cinco","pt":"flow","to":"Cinco","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3310,"y":1120,"wires":[[]]},{"id":"ad91883e.326168","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Seis ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2770,"y":1280,"wires":[["211f6e52.8f5772"]]},{"id":"211f6e52.8f5772","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2940,"y":1280,"wires":[["1328c740.39a569"]]},{"id":"1328c740.39a569","type":"function","z":"532705fe.671cb4","name":"","func":"var Seis = {Seis:msg.payload[0].volume}\n\nreturn Seis;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3110,"y":1280,"wires":[["709a2885.ea97b8"]]},{"id":"709a2885.ea97b8","type":"change","z":"532705fe.671cb4","name":"seis","rules":[{"t":"set","p":"Seis","pt":"flow","to":"Seis","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3330,"y":1280,"wires":[[]]},{"id":"cbc1bb51.1b0898","type":"debug","z":"532705fe.671cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Um","targetType":"msg","statusVal":"","statusType":"auto","x":3190,"y":640,"wires":[]},{"id":"93d05651.835fd8","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Sete ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":1360,"wires":[["8d5fbdab.0f994"]]},{"id":"8d5fbdab.0f994","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2950,"y":1360,"wires":[["201e107e.03cbb"]]},{"id":"201e107e.03cbb","type":"function","z":"532705fe.671cb4","name":"","func":"var Sete = {Sete:msg.payload[0].volume}\n\nreturn Sete;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":1360,"wires":[["cf2e2ec5.107d4"]]},{"id":"cf2e2ec5.107d4","type":"change","z":"532705fe.671cb4","name":"Sete","rules":[{"t":"set","p":"Sete","pt":"flow","to":"Sete","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3340,"y":1360,"wires":[[]]},{"id":"64d7a918.6ae858","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Oito ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2778,"y":1447,"wires":[["27531f1a.2e473"]]},{"id":"27531f1a.2e473","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2958,"y":1447,"wires":[["651e684d.d0e0a8"]]},{"id":"651e684d.d0e0a8","type":"function","z":"532705fe.671cb4","name":"","func":"var Oito = {Oito:msg.payload[0].volume}\n\nreturn Oito;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3118,"y":1447,"wires":[["d115f326.e034a"]]},{"id":"d115f326.e034a","type":"change","z":"532705fe.671cb4","name":"Oito","rules":[{"t":"set","p":"Oito","pt":"flow","to":"Oito","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3328,"y":1447,"wires":[[]]},{"id":"dda7374.9589dc8","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Nove ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":1520,"wires":[["7316bb60.3f9414"]]},{"id":"7316bb60.3f9414","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2950,"y":1520,"wires":[["1648d2d1.f2022d"]]},{"id":"1648d2d1.f2022d","type":"function","z":"532705fe.671cb4","name":"","func":"var Nove = {Nove:msg.payload[0].volume}\n\nreturn Nove;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":1520,"wires":[["2e27f897.c51f68"]]},{"id":"2e27f897.c51f68","type":"change","z":"532705fe.671cb4","name":"Nove","rules":[{"t":"set","p":"Nove","pt":"flow","to":"Nove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3340,"y":1520,"wires":[[]]},{"id":"eb65d1a6.2a69e","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Dez ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":1600,"wires":[["f9a2402c.68a7f"]]},{"id":"f9a2402c.68a7f","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2950,"y":1600,"wires":[["6a7699e6.8e8eb8"]]},{"id":"6a7699e6.8e8eb8","type":"function","z":"532705fe.671cb4","name":"","func":"var Dez = {Dez:msg.payload[0].volume}\n\nreturn Dez;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":1600,"wires":[["e3aaaae1.18cb08"]]},{"id":"e3aaaae1.18cb08","type":"change","z":"532705fe.671cb4","name":"Dez","rules":[{"t":"set","p":"Dez","pt":"flow","to":"Dez","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3340,"y":1600,"wires":[[]]},{"id":"8f796e0d.baba4","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Onze ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":1680,"wires":[["ae705585.98dde8"]]},{"id":"ae705585.98dde8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2950,"y":1680,"wires":[["746456ab.6696b8"]]},{"id":"746456ab.6696b8","type":"function","z":"532705fe.671cb4","name":"","func":"var Onze = {Onze:msg.payload[0].volume}\n\nreturn Onze;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":1680,"wires":[["ed13b06e.22a8f"]]},{"id":"ed13b06e.22a8f","type":"change","z":"532705fe.671cb4","name":"Onze","rules":[{"t":"set","p":"Onze","pt":"flow","to":"Onze","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3340,"y":1680,"wires":[[]]},{"id":"d8952e83.ec745","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Doze ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":1740,"wires":[["8cccbd73.07a61"]]},{"id":"8cccbd73.07a61","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2950,"y":1740,"wires":[["7d26ec53.818464"]]},{"id":"7d26ec53.818464","type":"function","z":"532705fe.671cb4","name":"","func":"var Doze = {Doze:msg.payload[0].volume}\n\nreturn Doze;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":1740,"wires":[["f4122a0b.fbf558"]]},{"id":"f4122a0b.fbf558","type":"change","z":"532705fe.671cb4","name":"Doze","rules":[{"t":"set","p":"Doze","pt":"flow","to":"Doze","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3340,"y":1740,"wires":[[]]},{"id":"a906ee40.bbd28","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Treze ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2800,"y":1800,"wires":[["734a2b5.395c0d4"]]},{"id":"734a2b5.395c0d4","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2970,"y":1800,"wires":[["9f711062.e6a6"]]},{"id":"9f711062.e6a6","type":"function","z":"532705fe.671cb4","name":"","func":"var Treze = {Treze:msg.payload[0].volume}\n\nreturn Treze;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3140,"y":1800,"wires":[["63eb2bf7.f9bf14"]]},{"id":"63eb2bf7.f9bf14","type":"change","z":"532705fe.671cb4","name":"Treze","rules":[{"t":"set","p":"Treze","pt":"flow","to":"Treze","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3360,"y":1800,"wires":[[]]},{"id":"f6f1ce14.e025d","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Quatorze ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":1860,"wires":[["c9fddcba.04e9f"]]},{"id":"c9fddcba.04e9f","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2950,"y":1860,"wires":[["4b1c08e8.d4efd8"]]},{"id":"4b1c08e8.d4efd8","type":"function","z":"532705fe.671cb4","name":"","func":"var Quatorze = {Quatorze:msg.payload[0].volume}\n\nreturn Quatorze;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":1860,"wires":[["e40b2ecd.f16cc"]]},{"id":"e40b2ecd.f16cc","type":"change","z":"532705fe.671cb4","name":"Quatorze","rules":[{"t":"set","p":"Quatorze","pt":"flow","to":"Quatorze","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":1860,"wires":[[]]},{"id":"66390f92.f6c2f","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Quinze ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":1920,"wires":[["4fe2539c.50852c"]]},{"id":"4fe2539c.50852c","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2950,"y":1920,"wires":[["7f7df2ad.cdf6bc"]]},{"id":"7f7df2ad.cdf6bc","type":"function","z":"532705fe.671cb4","name":"","func":"var Quinze = {Quinze:msg.payload[0].volume}\n\nreturn Quinze;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":1920,"wires":[["bbdad716.cf0208"]]},{"id":"bbdad716.cf0208","type":"change","z":"532705fe.671cb4","name":"Quinze","rules":[{"t":"set","p":"Quinze","pt":"flow","to":"Quinze","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":1920,"wires":[[]]},{"id":"919df8aa.e3e0d8","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Dezeseis ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":1980,"wires":[["13937a74.94ee16"]]},{"id":"13937a74.94ee16","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2950,"y":1980,"wires":[["5124e5a7.03280c"]]},{"id":"5124e5a7.03280c","type":"function","z":"532705fe.671cb4","name":"","func":"var Dezeseis = {Dezeseis:msg.payload[0].volume}\n\nreturn Dezeseis;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":1980,"wires":[["42e06201.6cd8cc"]]},{"id":"42e06201.6cd8cc","type":"change","z":"532705fe.671cb4","name":"Dezeseis","rules":[{"t":"set","p":"Dezeseis","pt":"flow","to":"Dezeseis","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":1980,"wires":[[]]},{"id":"ea302df3.ff171","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Dezesete ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":2040,"wires":[["17dc954.5a2816b"]]},{"id":"17dc954.5a2816b","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2950,"y":2040,"wires":[["937058f0.e82388"]]},{"id":"937058f0.e82388","type":"function","z":"532705fe.671cb4","name":"","func":"var Dezesete = {Dezesete:msg.payload[0].volume}\n\nreturn Dezesete;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":2040,"wires":[["fdef68df.c77148"]]},{"id":"fdef68df.c77148","type":"change","z":"532705fe.671cb4","name":"Dezesete","rules":[{"t":"set","p":"Dezesete","pt":"flow","to":"Dezesete","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":2040,"wires":[[]]},{"id":"7055043e.23b1bc","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Dezoito ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2800,"y":2100,"wires":[["2beef14d.7dc7de"]]},{"id":"2beef14d.7dc7de","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2970,"y":2100,"wires":[["dfbab708.232498"]]},{"id":"dfbab708.232498","type":"function","z":"532705fe.671cb4","name":"","func":"var Dezoito = {Dezoito:msg.payload[0].volume}\n\nreturn Dezoito;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3140,"y":2100,"wires":[["e3ecc82f.8dfc18"]]},{"id":"e3ecc82f.8dfc18","type":"change","z":"532705fe.671cb4","name":"Dezoito","rules":[{"t":"set","p":"Dezoito","pt":"flow","to":"Dezoito","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3370,"y":2100,"wires":[[]]},{"id":"5fefaec8.13b03","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Dezenove ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":2160,"wires":[["210a093a.f15976"]]},{"id":"210a093a.f15976","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2950,"y":2160,"wires":[["488ac66d.963308"]]},{"id":"488ac66d.963308","type":"function","z":"532705fe.671cb4","name":"","func":"var Dezenove = {Dezenove:msg.payload[0].volume}\n\nreturn Dezenove;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":2160,"wires":[["c8d26d42.dc5b1"]]},{"id":"c8d26d42.dc5b1","type":"change","z":"532705fe.671cb4","name":"Dezenove","rules":[{"t":"set","p":"Dezenove","pt":"flow","to":"Dezenove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":2160,"wires":[[]]},{"id":"ddbe22bb.efd4f","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Vinte ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2760,"y":2220,"wires":[["2093c06c.de766"]]},{"id":"2093c06c.de766","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2930,"y":2220,"wires":[["4be17b6e.4decc4"]]},{"id":"4be17b6e.4decc4","type":"function","z":"532705fe.671cb4","name":"","func":"var Vinte = {Vinte:msg.payload[0].volume}\n\nreturn Vinte;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3100,"y":2220,"wires":[["2833e887.5a9868"]]},{"id":"2833e887.5a9868","type":"change","z":"532705fe.671cb4","name":"Vinte","rules":[{"t":"set","p":"Vinte","pt":"flow","to":"Vinte","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3320,"y":2220,"wires":[[]]},{"id":"634b1c01.d030f4","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Vinte1 ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2760,"y":2280,"wires":[["6a85a244.90611c"]]},{"id":"6a85a244.90611c","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2930,"y":2280,"wires":[["201c2c54.8511a4"]]},{"id":"201c2c54.8511a4","type":"function","z":"532705fe.671cb4","name":"","func":"var Vinte1 = {Vinte1:msg.payload[0].volume}\n\nreturn Vinte1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3100,"y":2280,"wires":[["7278de72.50716"]]},{"id":"7278de72.50716","type":"change","z":"532705fe.671cb4","name":"Vinte1","rules":[{"t":"set","p":"Vinte1","pt":"flow","to":"Vinte1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3320,"y":2280,"wires":[[]]},{"id":"4553a02f.29a2a","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Vinte2 ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2760,"y":2360,"wires":[["b2f1290c.01a878"]]},{"id":"b2f1290c.01a878","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2930,"y":2360,"wires":[["f1fd160c.cdcc88"]]},{"id":"f1fd160c.cdcc88","type":"function","z":"532705fe.671cb4","name":"","func":"var Vinte2 = {Vinte2:msg.payload[0].volume}\n\nreturn Vinte2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3100,"y":2360,"wires":[["d03c3b26.900ef8"]]},{"id":"d03c3b26.900ef8","type":"change","z":"532705fe.671cb4","name":"Vinte2","rules":[{"t":"set","p":"Vinte2","pt":"flow","to":"Vinte2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3320,"y":2360,"wires":[[]]},{"id":"2938447.a2dfebc","type":"function","z":"532705fe.671cb4","name":"SELECT","func":"\nmsg.topic = \"select *from Vinte3 ORDER BY timeStamp DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2760,"y":2420,"wires":[["6da0b77e.b121d8"]]},{"id":"6da0b77e.b121d8","type":"Stackhero-MySQL","z":"532705fe.671cb4","server":"1eeb7e02.8cc202","name":"","x":2930,"y":2420,"wires":[["777da431.25c36c"]]},{"id":"777da431.25c36c","type":"function","z":"532705fe.671cb4","name":"","func":"var Vinte3 = {Vinte3:msg.payload[0].volume}\n\nreturn Vinte3;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3100,"y":2420,"wires":[["1cefe40d.49047c"]]},{"id":"1cefe40d.49047c","type":"change","z":"532705fe.671cb4","name":"Vinte3","rules":[{"t":"set","p":"Vinte3","pt":"flow","to":"Vinte3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3320,"y":2420,"wires":[[]]},{"id":"19c7a828.6e18e8","type":"change","z":"532705fe.671cb4","name":"","rules":[{"t":"set","p":"Zero","pt":"msg","to":"Zero","tot":"flow"},{"t":"set","p":"Um","pt":"msg","to":"Um","tot":"flow"},{"t":"set","p":"Dois","pt":"msg","to":"Dois","tot":"flow"},{"t":"set","p":"Tres","pt":"msg","to":"Tres","tot":"flow"},{"t":"set","p":"Quatro","pt":"msg","to":"Quatro","tot":"flow"},{"t":"set","p":"Cinco","pt":"msg","to":"Cinco","tot":"flow"},{"t":"set","p":"Seis","pt":"msg","to":"Seis","tot":"flow"},{"t":"set","p":"Sete","pt":"msg","to":"Sete","tot":"flow"},{"t":"set","p":"Oito","pt":"msg","to":"Oito","tot":"flow"},{"t":"set","p":"Nove","pt":"msg","to":"Nove","tot":"flow"},{"t":"set","p":"Dez","pt":"msg","to":"Dez","tot":"flow"},{"t":"set","p":"Onze","pt":"msg","to":"Onze","tot":"flow"},{"t":"set","p":"Doze","pt":"msg","to":"Doze","tot":"flow"},{"t":"set","p":"Treze","pt":"msg","to":"Treze","tot":"flow"},{"t":"set","p":"Quatorze","pt":"msg","to":"Quatorze","tot":"flow"},{"t":"set","p":"Quinze","pt":"msg","to":"Quinze","tot":"flow"},{"t":"set","p":"Dezeseis","pt":"msg","to":"Dezeseis","tot":"flow"},{"t":"set","p":"Dezesete","pt":"msg","to":"Dezesete","tot":"flow"},{"t":"set","p":"Dezoito","pt":"msg","to":"Dezoito","tot":"flow"},{"t":"set","p":"Dezenove","pt":"msg","to":"Dezenove","tot":"flow"},{"t":"set","p":"Vinte","pt":"msg","to":"Vinte","tot":"flow"},{"t":"set","p":"Vinte1","pt":"msg","to":"Vinte1","tot":"flow"},{"t":"set","p":"Vinte2","pt":"msg","to":"Vinte2","tot":"flow"},{"t":"set","p":"Vinte3","pt":"msg","to":"Vinte3","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":380,"wires":[["af191714.26b4d8"]]},{"id":"96274eaa.f9c2d","type":"http in","z":"532705fe.671cb4","name":"","url":"/url","method":"get","upload":false,"swaggerDoc":"","x":1280,"y":60,"wires":[[]]},{"id":"7c2c1be8.1d4954","type":"http response","z":"532705fe.671cb4","name":"/url","statusCode":"","headers":{},"x":1790,"y":140,"wires":[]},{"id":"5adff962.4ed268","type":"template","z":"532705fe.671cb4","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<script src=\"https://code.highcharts.com/modules/export-data.js\"></script>\n<script src=\"https://code.highcharts.com/modules/accessibility.js\"></script>\n\n<figure class=\"highcharts-figure\">\n  <div id=\"container\"></div>\n  <p class=\"highcharts-description\">\n   \n  </p>\n</figure><script>Highcharts.chart('container', {\n  chart: {\n    type: 'column'\n  },\n  title: {\n    text: 'Medição Hidrica'\n  },\n  subtitle: {\n    text: 'por Hora'\n  },\n  xAxis: {\n    categories: [\n      '00:00',\n      '01:00', \n      '02:00',\n      '03:00',\n      '04:00',\n      '05:00',\n      '06:00',\n      '07:00',\n      '08:00',\n      '09:00',\n      '10:00',\n      '11:00',\n      '12:00',\n      '13:00',\n      '14:00',\n      '15:00',\n      '16:00',\n      '17:00',\n      '18:00',\n      '19:00',\n      '20:00',\n      '21:00',\n      '22:00',\n      '23:00'\n    ],\n    crosshair: true\n  },\n  yAxis: {\n    min: 0,\n    title: {\n      text: 'Volume (m³)'\n    }\n  },\n  tooltip: {\n    headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n    pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n      '<td style=\"padding:0\"><b>{point.y:.1f} m³</b></td></tr>',\n    footerFormat: '</table>',\n    shared: true,\n    useHTML: true\n  },\n  plotOptions: {\n    column: {\n      pointPadding: 0.2,\n      borderWidth: 0\n    }\n  },\n  series: [{\n      name: 'Volume em metros cubicos (m³)',\n    data: [{{Zero}},{{Um}}, {{Dois}}, {{Tres}},{{Quatro}},{{Cinco}},{{Seis}},{{Sete}},{{Oito}},{{Nove}},{{Dez}},{{Onze}},{{Doze}},{{Treze}},{{Quatorze}}, {{Quinze}},{{Dezeseis}},{{Dezesete}}, {{Dezoito}}, {{Dezenove}}, {{Vinte}},{{Vinte1}}, {{Vinte2}}, {{Vinte3}}]\n\n   \n  }]\n});\n</script>","x":1610,"y":120,"wires":[["7c2c1be8.1d4954"]]},{"id":"af191714.26b4d8","type":"template","z":"532705fe.671cb4","name":"CSS","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":".highcharts-figure, .highcharts-data-table table {\n  min-width: 310px; \n  max-width: 800px;\n  margin: 1em auto;\n}\n\n#container {\n  height: 400px;\n}\n\n.highcharts-data-table table {\n\tfont-family: Verdana, sans-serif;\n\tborder-collapse: collapse;\n\tborder: 1px solid #EBEBEB;\n\tmargin: 10px auto;\n\ttext-align: center;\n\twidth: 100%;\n\tmax-width: 500px;\n}\n.highcharts-data-table caption {\n  padding: 1em 0;\n  font-size: 1.2em;\n  color: #555;\n}\n.highcharts-data-table th {\n\tfont-weight: 600;\n  padding: 0.5em;\n}\n.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {\n  padding: 0.5em;\n}\n.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {\n  background: #f8f8f8;\n}\n.highcharts-data-table tr:hover {\n  background: #f1f7ff;\n}","output":"str","x":1810,"y":300,"wires":[["bdc9611d.4b4e4"]]},{"id":"7a2f9dc0.b61864","type":"debug","z":"532705fe.671cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"hora","targetType":"msg","statusVal":"","statusType":"auto","x":3600,"y":140,"wires":[]},{"id":"1eeb7e02.8cc202","type":"Stackhero-MySQL-Server","name":"","host":"localhost","port":"3306","tls":false,"database":"hidrometro"},{"id":"a839e467.aaa5f8","type":"mqtt-broker","name":"Mqtthidrometro","broker":"ifhidrometro.duckdns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]